@page
@model ASPProjekt.Pages.UserPages.UserRegisterModel
@{
}

<h2>Register</h2>

<form method="post">
    <input asp-for="NewUser.userName" />
    <input asp-for="NewUser.password" />
    <input type="submit" />
</form>