@page
@model ASPProjekt.Pages.UserPages.UserLogoutModel
@{
}

@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <input type="submit" value="Log Out" class="btn btn-secondary" />
    </form>
}
else
{
    <h3>Successfully logged out! Log in anytime!</h3>
}


