@page
@model IndexModel
@using Microsoft.AspNetCore.Identity;
@using ASPProjekt.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website was made for people to easily be able to join fun events and keep track of them.</p>
    <br />

    @if (SignInManager.IsSignedIn(User))
    {
        <h3>Hi, @User.Identity.Name!</h3>
        <br />
        <p>Check out Events</p>
        <a asp-area="" asp-page="/Events" class="btn btn-secondary">Events</a>

    }
    else
    {
        <a asp-area="" asp-page="UserPages/UserRegister" class="btn btn-secondary">Register</a>
        <a asp-area="" asp-page="UserPages/UserLogin" class="btn btn-secondary">Log In</a>
    }


</div>
